
.swiper-pagination{
  bottom: 20px !important;
}
.swiper-pagination-bullet-active{
  background:red; /* olive green */
  opacity:1;
}

.trust-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  /* keep your existing styles */
  display: flex;
  justify-content: space-evenly;
  background: rgb(205, 234, 244);
  padding: 10px 0;
}

  .trust-item{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:500;
  }
  .trust-icon{
    color:#1e1e2f;
    font-size:28px !important;
  }